{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.4"}

  ;; Database
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.1070"}
  org.xerial/sqlite-jdbc {:mvn/version "3.50.3.0"}
  com.github.seancorfield/honeysql {:mvn/version "2.7.1350"}

  ;; Serialization (includes compression)
  io.github.latacora/transit-canon {:git/url "https://github.com/latacora/transit-canon"
                                     :git/sha "06fe41e2522b83bab7e955e3473376500887abc6"}}

 :aliases
 {:dev
  {:extra-paths ["test" "test-resources"]
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :extra-deps
   {;; Test-focused deps
    org.clojure/test.check {:mvn/version "1.1.1"}
    com.gfredericks/test.chuck {:mvn/version "0.2.15"}
    lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

  :test
  {:main-opts ["-m" "kaocha.runner"]}

  :clerk
  {:extra-paths ["notebooks"]
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :extra-deps
   {io.github.nextjournal/clerk {:mvn/version "0.18.1150"}
    org.clj-commons/humanize {:mvn/version "1.1"}}}}}
